@model Mvcblog.ViewModels.LoginModel
 
<div class="form-container">
    
    <h2 class="header-block">Вход на сайт</h2>
     
    <form asp-action="Login" asp-controller="Auth" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Login</span>
                    </div>
                    <input type="text" asp-for="Email" asp-for="Password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <span asp-validation-for="Email"/>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                    </div>
                    <input type="password" asp-for="Password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <span asp-validation-for="Password"/>
            </div>

            <div class="form-group buttons-block">
                <button type="submit" class="btn btn-primary">Войти</button>
                <a asp-action="Register" asp-controller="Auth">
                    <button type="button" class="btn btn-secondary">Регистрация</button>
                </a>
                <a asp-action="ResetPassword" asp-controller="Auth">
                    <button type="button" class="btn btn-secondary">Забыли пароль?</button>
                </a>
            </div>
        </div>
    </form>
    
</div>
