@model Mvcblog.ViewModels.RegisterModel

<!DOCTYPE html>

<html>
<head>
    <title>Сброс пароля</title>
</head>
<body>
    <div class="form-container">
        <form asp-action="ResetPassword" asp-controller="Auth" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.ValidationMessageFor(model => model.Email)
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span asp-for="Email" class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        </div>
                        <input type="text"  asp-for="Email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                    </div>
                    <span asp-validation-for="Email" />    
                </div>
                    
                @Html.ValidationMessageFor(model => model.CodePhrase)
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span asp-for="Password" class="input-group-text" id="inputGroup-sizing-default">CodePhrase</span>
                        </div>
                        <input type="text"  asp-for="CodePhrase" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                    </div>
                    <span asp-validation-for="CodePhrase"/>   
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span asp-for="Password" class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            </div>
                            <input type="password"  asp-for="Password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                        </div>
                        <span asp-validation-for="Password" />    
                    </div>
            
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span asp-for="ConfirmPassword" class="input-group-text" id="inputGroup-sizing-default">ConfirmPassword</span>
                            </div>
                            <input type="password"  asp-for="ConfirmPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                        </div>
                        <span asp-validation-for="ConfirmPassword"/>   
                    </div>
        
                </div>
                <div class="form-group buttons-block">
                    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>