@using Mvcblog.Markdown
@model Mvcblog.ViewModels.ArticleModel
@{
    ViewData["Title"] = "Статья";
}

<html>
<head>
    <title>Статья</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#likeButton').click(function() {
                $.ajax({
                    type: 'POST',
                    url: "/Home/Like/" + @Model.Id,
                    success: function(result) {
                        $('#likesCount').html(result);
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div class="post-container">
        <h2 class="post-header">@Model.Name</h2>

        <img src="@Url.Content(Model.ImagePath)" class="card-img-top">
        
        <h6 class="post-meta-info-container post-subtitle">@DateTime.FromBinary(Model.Date), @Model.UserName</h6>
        
        <div class="post-content">@Markdown.ParseHtmlString(Model.Content)</div>  
        
        <div>
            <div class="post-content">Комментарии</div> 
            <br/>
            @Html.Partial("Comment", (IEnumerable<Mvcblog.Database.Comment>)ViewData["Comments"])
            <a onclick="openCommentForm(@Model.Id)" style="cursor: pointer">Оставить комментарий</a>
        </div>
        <div id="postdiv-@Model.Id" style="display:none">
            @using (Html.BeginForm("Comment", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <textarea id="posttext-@Model.Id" name="content"></textarea>
                <input type="hidden" name="articleId" value="@Model.Id"/>
                <input type="submit" value="Отправить"/>
            }
        </div>
        <script>
            function openCommentForm(postId) {            
                $('#postdiv-' + postId).show();
            }
        </script>
            
        <div class="buttons-block">
            <a href="~/Home/Index" class="btn btn-secondary">На главную</a>
            <a href="~/Account/Profile" class="btn btn-info">На свою страницу</a>
            <button id="likeButton" class="btn btn-secondary"><span id="likesCount">👍 @ViewData["LikesCount"]</span></button>
        </div>
    </div>
</body>
</html>