@model IEnumerable<Mvcblog.Database.Comment>

<div class="posts-container">
    @foreach (var u in Model)
    {
                <div class="card-body">
                <h6 class="post-meta-info-container post-subtitle">@u.UserEmail</h6>
                <div class="post-content">@u.Text</div> 
                </div>
    }
</div>

