.buttons-block,
.form-container{
    margin-top: 20px;
}

.form-container{
    width: 40%;
}

.header-block{
    margin-top: 20px;
    margin-bottom: 20px;
}

.posts-container{
    display: flex;
    flex-direction: column;
}

.card {
    width: 700px;
}

.body-content{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}

.posts-container{
    width: 700px;
}

.profile-page {
    margin-top: 40px;
}

.profile-buttons-block {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
}

.button-row {
    margin-top: 10px;
}

.new-post-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 700px;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 700px;
}

.post-content,
.post-header {
    margin-top: 10px;
}

.post-meta-info-container {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3c3c3c;
    font-size: 16px;
}

.post-subtitle {
    color: #3c3c3cb3;
}

.image-container {
    height: 200px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio-container .radio-btn input:checked + label{
    background-color: #0082fe;
    color: #fff;
}

.likes-count {
    padding-left: 20px;
    padding-right: 20px;
}