@model Mvcblog.ViewModels.ArticleModel
@{
    ViewData["Title"] = "Добавить статью";
}

<html>
<head runat="server" />
<body>
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new {enctype="multipart/form-data"}))
    {
        <div class="new-post-container">
            <h3 class="header-block">Добавить новую запись</h3>
            
            @Html.ValidationMessageFor(model => model.Name)
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Название</span>
                </div>
                <input type="text" class="form-control" aria-label="Name" name="Name">
            </div>
            
            @Html.ValidationMessageFor(model => model.Content)
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Содержимое</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name="Content"></textarea>
            </div>
              
            <div class="buttons-block">
                <div class="radio-container">
                    <div class="form-item radio-btn nth-2">
                        <input name="isPrivate" type="radio" value="public"/>
                        <span>Публичный</span>
                    </div>
                    <div class="form-item radio-btn nth-2">
                        <input name="isPrivate" type="radio" value="private"/>
                        <span>Приватный</span>
                    </div>
                </div>
            </div>
            
            <div class="buttons-block">
                <input type="file" class="form-control-file" name="imageFile">
            </div>
            
            <div class="buttons-block">
                <input type="submit" class="btn btn-primary" value="Добавить"/>
            </div>
        </div>
    }
</body>
</html>