@model Mvcblog.ViewModels.ClientModel

<html>
<head runat="server" />
<body>
@using (Html.BeginForm("EditUser", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
         <h3 class="header-block">Настройки личного кабинета</h3>
    </div>
    <fieldset>
        <p>      
            @Html.LabelFor(m => m.Name, "Имя")
            <br />
            @Html.EditorFor(m => m.Name)            
        </p>       
        @Html.HiddenFor(m => m.Login)    
        <input type="file" name="uploadedFile" /><br>
    </fieldset>
    <div class="buttons-block">
        <p><input type="submit" class="btn btn-primary" value="Отправить" /></p>
        <p><a class="btn btn-secondary" href="~/Account/Profile">Назад</a></p>
    </div>
}
</body>
</html>