@model Mvcblog.ViewModels.ArticleModel
@{
    ViewData["Title"] = "Редактировать статью";
}

<html>
<head runat="server" />
<body>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        <h3 class="header-block">Редактировать</h3>
    </div>
    <fieldset>
        <p>
            @Html.LabelFor(m => m.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Content, "Content")
            <br />
            @Html.EditorFor(m => m.Content)
        </p>
    </fieldset>
    <div class="buttons-block">
        <p><input type="submit" class="btn btn-primary" value="Отправить" /></p>
        <p><a class="btn btn-secondary" href="~/Account/Profile">Назад</a></p>
    </div>
}
@*<form asp-action="Edit" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @Html.ValidationMessageFor(model => model.Name)
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span asp-for="Name" class="input-group-text" id="inputGroup-sizing-default">Email</span>
                        </div>
                        <input type="text"  asp-for="Name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                    </div>
                    <span asp-validation-for="Name" />    
                </div>
                    
                @Html.ValidationMessageFor(model => model.Content)
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span asp-for="Content" class="input-group-text" id="inputGroup-sizing-default">CodePhrase</span>
                        </div>
                        <input type="text"  asp-for="Content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                    </div>
                    <span asp-validation-for="Content"/>   
                </div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="buttons-block">
                    <input type="file" class="form-control-file" name="imageFile">
                </div>
                
                @Html.ValidationMessageFor(model => model.IsPrivate)
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span asp-for="IsPrivate" class="input-group-text" id="inputGroup-sizing-default">IsPrivate</span>
                        </div>
                        <input type="checkbox"  asp-for="IsPrivate" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">      
                    </div>
                    <span asp-validation-for="Content"/>   
                </div>
                
                <div class="form-group buttons-block">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>*@
</body>
</html>