@using Mvcblog.Database
@model IEnumerable<Mvcblog.ViewModels.ArticleModel>
@{
    ViewData["Title"] = "Профиль пользователя";
}
<!DOCTYPE html>

<html>
<head>
    <title>Профиль</title>
</head>
<body>
    <div class="container profile-page">
        <div class="row">
            <div class="col-4">
                
                <h3>Профиль</h3>
                
                @Html.Partial("UserView", ViewData["User"] as Mvcblog.ViewModels.ClientModel)
               
            </div>
            <div class="col-8">
                <h3>Посты</h3>
                <table class="table-condensed">
                    @foreach (var article in Model)
                    {
                        <tr>
                            <div class="card bg-light mb-3">
                                
                                <img src="@Url.Content(article.ImagePath)" class="card-img-top">
                                
                                <div class="card-body">
                                    <h5 class="card-title">@article.Name</h5>
                                    <h6 class="card-title post-subtitle">@DateTime.FromBinary(article.Date)</h6>
                                    <a class="btn btn-primary" href="~/Home/Show/@article.Id">Показать</a>                                  
                                </div>
                            </div>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>