﻿@using Mvcblog.Markdown
@using Mvcblog.ViewModels
@model Mvcblog.ViewModels.IndexViewModel
@functions
{
    private static string GetSubstring(string n)
    {
        if (n == null || n.Length < 30)
            return n;
        return @Markdown.ParseHtmlString(n.Substring(0, n.Length > 120 ? 120 : n.Length)) + " ...";
    }
}
@{
    ViewData["Title"] = "Главная";
}

<!DOCTYPE html>

<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
    <h3 class="header-block">Лента</h3>
    <div class="posts-container">
        @foreach (ArticleModel u in Model.Articles)
        {
            <tr>
                <div class="card bg-light mb-3">
                    <img src="@Url.Content(u.ImagePath)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@u.Name</h5>
                        <h6 class="card-title post-subtitle">@DateTime.FromBinary(u.Date), <a href="~/Account/OtherProfile/@u.UserName">@u.UserName</a></h6>
                        <p class="card-text">@GetSubstring(@u.Content)</p>
                        <a class="btn btn-primary" href="~/Home/Show/@u.Id">Показать</a>
                    </div>
                </div>
            </tr>
        }
    </div>
    <div class="buttons-block">
        <div class="btn btn-light">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">⬅️ Назад</a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">Вперед ➡️</a>
            }  
        </div>
    </div>
    <div class="buttons-block">
        <td><a class="btn btn-info" href="~/Account/Profile">На свою страницу</a></td>
    </div>
</body>
</html>
